:root {
    --main-bg: #141922;
    --footer-bg: #282828;
    --menu-bg: black;
    --txt-standard: #ffffff;
    --active: #adff2f;
    
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    height: 110px;
    background-color: var(--footer-bg);
    width: 100%;
}



/* COMMON */

li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* color */

.color-main-bg{
    background-color: var(--main-bg);
}

.color-footer-bg{
    background-color: var(--footer-bg);
}

.color-menu-bg{
    background-color: var(--menu-bg);
}

.color-menu-bg{
    background-color: var(--menu-bg);
}

.st-color-txt{
    color: var(--txt-standard);
}

/* font size */

.fs-title-b{
    font-size: 4rem;
    font-weight: bold;
}

.fs-title-m{
    font-size: 2.2rem;
    font-weight: bold;
}

.fs-title-s{
    font-size: 1.7rem;
    font-weight: bold;
}

.fs-subtitle-s{
    font-size: 0.8rem;
    font-weight: bold;
}

/* container */

.margin-container{
    padding: 0px 20px;
}



/* align */

.txt-center {
    text-align: center;
}

.line-h-st{
    line-height: 1.7rem;
}


/* Photo */


.photo-clip img{
    border-radius: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
    background-color: var(--menu-bg);
}




/* display */

.d-flex {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}

.d-i-block{
    display: inline-block;
}


/* margin */

.margin-b-small {
    margin-bottom: 20px;
}

.margin-b-m {
    margin-bottom: 30px;
}

.margin-b-big {
    margin-bottom: 60px;
}

.margin-t-small {
    margin-top: 20px;
}

.margin-t-m {
    margin-top: 30px;
}

.margin-t-b {
    margin-top: 60px;
}

.margin-tb-small {
    margin: 20px 0px;
}

.margin-tb-med {
    margin: 30px 0px;
}

.margin-small {
    margin: 10px;
}

/* padding */

.padd-top-m{
    padding-top: 60px;
}

.padd-tb-m{
    padding: 60px 0px;
}

.padd-tb-s{
    padding: 40px 0px;
}

.padd-top{
    padding-top: 90px;
}

/* filtro trasparenza */

.f-opacity{
    opacity: 0.5;
}


/* MAIN */

.container-main{
    height: calc(100vh - 110px);
    background-color: var(--main-bg);
}







/* contenitore album */

.box-musicselector{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

/* filtro */

.filter-list{
    justify-content: center;
}

.filter-list ul li{
    display: inline-block;
}

.filter-list ul li a{
    color: var(--txt-standard);
    opacity: 0.5;
    padding: 0px 10px;
}

/* album */

.multicard{
    width: 100%;
}

.multicard .card{
    margin: 0px 10px;
    width: calc(100% / 6 - 20px);
    cursor: pointer;
    
}

.multicard .card:hover img{
    opacity: 0.3;
}

.multicard .card img{
    width: 100%;
    background-color: var(--menu-bg);
}

.multicard .card span{
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0.5;
}


/* header trasparente */

.box-musicselector .header-selector{
    height: 100px;
    width: 100%;
    background-color: var(--menu-bg);
    opacity: 0.5;
    position: fixed;
}

.box-musicselector .main-selector{
    width: 100%;
    height: 100%;
    margin: 120px 0px;
}


/* MENU */

.menu{
    background-color: var(--menu-bg);
    height: 100%;
    width: 300px;
    overflow: hidden;
}


.menu .menu-sel{
    align-items: center;
}


.menu .logo img{
    height: 40px;
}

.menu-sel .icon img{
    width: 25px;
    height: 25px;
}

.menu .menu-sel .description span{
    display: block;
    padding: 0px 5px;
}

.menu .selector ul li{
    margin: 5px 0px;
    cursor: pointer;
}

.menu .selector ul li:hover .icon,
.menu .selector ul li:hover .description{
    opacity: 1;
}

/* Playlist */

.playlist .new-playlist{
    align-items: center;
    margin-top: 10px;
}

.new-playlist .box-add {
    background-color: var(--txt-standard);
    opacity: 0.3;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
}

.new-playlist .box-add span{
    color: var(--menu-bg);
    font-size: 2rem;
}

.new-playlist .desc{
    padding: 0px 5px;
}

.list-item{
    overflow: auto;
}





